<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <h2>User Profile</h2>
    <div th:replace="template::navigator"></div>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>
    <div class="top-right-align" th:if="${user.id == event.owner.id}">
        <a th:href="@{'/view/event/addGuest/' + ${user.id} + '/' + ${event.id}}">Add Guest</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Name:</div>
                    <div class="col-md-6"><p th:text="${event.name}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Place:</div>
                    <div class="col-md-6"><p th:text="${event.place}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Start Date:</div>
                    <div class="col-md-6"><p th:text="${event.startDate}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">End Date:</div>
                    <div class="col-md-6"><p th:text="${event.endDate}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Price:</div>
                    <div class="col-md-6"><p th:text="${event.price}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Private:</div>
                    <div class="col-md-6"><p th:text="${event.private}"></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">Description:</div>
                    <div class="col-md-6"><p th:text="${event.description}"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>