<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <h2>Events List</h2>
    <div th:replace="template::navigator"></div>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>
    <div class="container">
        <div class="row" th:each="event : ${event_list}">
            <div class="col-md-3"><p th:text="${event.name}"></p></div>
            <div class="col-md-3"><p th:text="${event.place}"></p></div>
            <div class="col-md-3"><p th:text="${event.startDate}"></p></div>
            <div class="col-md-3"><p th:text="${event.endDate}"></p></div>
            <div class="col-md-3"><p th:text="${event.price}"></p></div>
            <div class="col-md-3"><p th:text="${event.description}"></p></div>
            <div class="col-md-2"><a th:href="@{'/view/event/guestList/' + ${event.id}}">Guest List</a></div>
            <div class="col-md-2"><a sec:authorize="hasRole('ADMIN')"
                                     th:href="@{'/view/event/modify/' + ${event.owner.id}
                                     + '/' + ${event.id}}">Modify</a></div>
            <div class="col-md-2"><a sec:authorize="hasRole('ADMIN')"
                                     th:href="@{'/view/event/delete/' + ${event.id}}">Delete</a></div>
        </div>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>