<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify Form</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template::navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <form th:action="@{/view/user/modify}" method="post" th:object="${modify_user}">
            <div class="row">
                <div class="row col-md-8">
                    <div class="col-md-6">Password</div>
                    <div class="col-md-6"><input class="form-control" type="password" th:value="*{password}"
                                                 th:field="*{password}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Name</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:value="*{name}"
                                                 th:field="*{name}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Surname</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:value="*{surname}"
                                                 th:field="*{surname}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Birth Date</div>
                    <div class="col-md-6"><input class="form-control" type="date" th:value="*{birthDate}"
                                                 th:field="*{birthDate}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Address</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:value="*{address}"
                                                 th:field="*{address}"></div>
                </div>
                <div class="row col-md-6">
                    <input type="submit" class="form-control" value="submit">
                </div>
            </div>
        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>